{% extends 'layout.html' %}
<!-- Navbar -->


{% block script %} 
{% endblock %}




{% block body %}
<div class = "container">
  <br>
  <br>
  <h1>What kind of coffee would you like?</h1>

  <form action = "/">
      <p>please select your coffee type</p>
      
      <input type='radio' id="latte" name="drink_selection" value= 12.73>
      <label for="latte">Latte: $12.73</label><br>

      <input type='radio' id="espresso" name="drink_selection" value=14.92>
      <label for="espresso">Espresso: $14.92</label><br>

      <input type='radio' id="cappuccino" name="drink_selection" value=19.96>
      <label for="cappuccino">Cappuccino: $19.96 </label><br>

      <br>

      <p>Please select anything additional you would like you add</p>

      <input type="checkbox" id="suger" name="suger" value=.50>
      <label for="suger">Sugar: $0.50</label><br>

      <input type="checkbox" id="carmel" name="carmel" value=.75>
      <label for="suger">Carmel: $0.70</label><br>
            
  </form>
</div>
{% endblock %}    



<!-- footer -->
{% block title %}
Register|E-Coffee-Shop
{% endblock %}
